/* Show Stylesheet */

.show {
  width: 157px;
  height: 254px;
  box-shadow: 0 5px 17px -7px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin-top: 10px;
  transition: transform 120ms ease-in;
  cursor: pointer;
  display: flex;
  flex-direction:column-reverse;
  align-items: baseline;
  position: relative;
}

.show:focus,
  .show:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 17px -6px #b4b4b4bf;
}

.show__info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bgPrime);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.show__title {
  font-size: .60em;
  color: var(--fgPrime);
  font-weight: var(--light);
}
