/* main style */

:root {
  --bgPrime: #1f1f1f;
  --bgSec: #313131;
  --bgLight: #494949;
  --fgSec: #b4b4b4;
  --fgPrime: #dedede;
  --bold: 600;
  --normal: 400;
  --light: 300;
  --fsLarge: 2em;
}

body {
  background-color: var(--bgPrime);
  color: var(--fgPrime);
}